header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.logo a {
    font-size: 60px;
    color: white;
    justify-self: center;
    align-self: center;
}
.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #1E2F69;
    border-radius: 40px;
}
.hide {
    display: none !important;
}
.navi_button {
    font-size: 30px;
    color: white;
    justify-self: center;
    align-self: center;
    background: #1E2F69;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
}
.user_panel {
    margin-top: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}
.navi_button:hover .user_panel {
    display:flex;
}
.user_panel p {
    font-size: 24px;
    text-align: center;
}

.user_panel a {
    text-decoration: none;
}
.user_panel .button_main_navi {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}
.admin_panel a{
    margin-bottom: 15px;
}

.navi {
    display: flex;
    justify-content: flex-end;
}

.admin_navi{
    margin-right: 10px;
}

