header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.logo a {
    font-size: 60px;
    color: white;
    justify-self: center;
    align-self: center;
}
.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #1E2F69;
    border-radius: 40px;
}
.hide {
    display: none !important;
}
.navi_button {
    font-size: 30px;
    color: white;
    justify-self: center;
    align-self: center;
    background: #1E2F69;
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
}
.user_panel {
    margin-top: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}
.navi_button:hover .user_panel {
    display:flex;
}
.user_panel p {
    font-size: 24px;
    text-align: center;
}

.user_panel a {
    text-decoration: none;
}
.user_panel .button_main_navi {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}
.admin_panel a{
    margin-bottom: 15px;
}

.navi {
    display: flex;
    justify-content: flex-end;
}

.admin_navi{
    margin-right: 10px;
}
section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

section div {
    display: flex;
    justify-content: center;
}

form label {
    font-size: 32px;
    text-align: center;

}

form input {
    height: 50px;
    font-size: 23px;
    text-align: center;
}

form button {
    margin-top: 16px;
    font-size: 30px;
    background: #1E2F69;
    color: white ;
}

form div {
    margin-top: 10px;
}

.alert {
    font-size: 26px;
    color: #83122A;
}

.form_container {
    padding-bottom: 120px;
    padding-top: 90px;
    border: 1px solid black;
}

.form_group {
    display: flex;
    justify-content: center;
}

