{% extends 'base.html.twig' %}

{% block title %}Application list{% endblock %}

{% block body %}
    <div class="job_offer_container eight" id="jobOffer">
    </div>
    {{ encore_entry_script_tags('jobOffer') }}
{% endblock %}
